@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body{
  scroll-behavior: smooth;
}

@layer{
  .bento-heading{
    @apply  text-white text-2xl font-light
  }
  .bento-description{
    @apply  text-white opacity-50 font-light leading-6 tracking-wider text-sm w-full
  }
  .bento-description2{
    @apply  text-white  opacity-50 font-light leading-6 tracking-wider text-sm md:w-1/2
  }
  .bento-container1{
    @apply p-6 flex w-full h-full  flex-col justify-end items-start
  }
  .bento-container2{
    @apply p-6 flex w-full h-full  flex-col justify-start items-start
  }
}



@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* NeueHaasDisplayBlackItalic */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* NeueHaasDisplayBold */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* NeueHaasDisplayBoldItalic */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* NeueHaasDisplayLight */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* NeueHaasDisplayLightItalic */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* NeueHaasDisplayMediu */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* NeueHaasDisplayMediumItalic */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* NeueHaasDisplayRoman */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* NeueHaasDisplayRomanItalic */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayRomanItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* NeueHaasDisplayThin */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* NeueHaasDisplayThinItalic */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* NeueHaasDisplayXThin */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayXThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* NeueHaasDisplayXThinItalic */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayXThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* NeueHaasDisplayXXThin */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayXXThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* NeueHaasDisplayXXThinItalic */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayXXThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

.styled-button {
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.31);
}

.header {
  border-radius: 14px;
  background: linear-gradient(180deg, #010314 -32.67%, #3351ee 138.52%);
}
.newsletter{
  border-radius: 17px;
  background: linear-gradient(180deg, #3351EE 0%, rgba(1, 3, 20, 0.77) 120.38%);
}
.footer{
  border-top: 0.5px solid #b4c1ff53;
}
.bento{

  border: 1px solid #2A2B3A;
  border-radius: 8px;
  display: flex;
  position: relative;
}